@font-face {
    font-family: pixelRU;
    src: url(ru.ttf);
}
.window {
    margin-top: 15px;
    margin-left: 0px;
    max-width: fit-content;
    min-width: 150px;
}

html * {
    font-size: 15px;
    line-height: 15px;
    font-family: pixelRU !important;
}

.contact {
    width: 80px;
}


@media screen and (min-width: 1201px) {
    .cntr {
        margin-top: 16vh;
    }

    
}

@media screen and (max-width: 1200px) {
    .cntr {
        margin-top: 2vh;
        
    }

    
}